.featured-items {
  box-sizing: border-box;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  max-width: 1170px;
}

@media (min-width: 768px) {
  .featured-items {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1170px;
  }
}
