.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.navbar .navbar-item {
  text-transform: uppercase;
}

.navbar .navbar-item:hover {
  color: #00f;
  background-color: #fff;
}

.selected {
  color: #00f;
  border-bottom: 2px solid #000;
}
