.item-details__wrapper {
  /*min-height: 100vh;*/
}

.item-details {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-color: #fafafa;
  height: 740px;
  padding-top: 100px;
}

.item-details .section {
  background-color: #fff;
  border: 1px solid rgb(238, 238, 238);
  margin: 20px;
}

.item-details__description {
  background-color: #fafafa;
  border: 1px solid rgb(238, 238, 238);
  /*margin: 20px;*/
  max-width: 960px;
  margin: auto;
}

.item-details__wrapper {
  background-color: #fafafa;
  /*max-width: 960px;*/
  /*margin: auto;*/
  /*margin-top: 40px;*/
  /*padding: 20px;*/
}
